<!DOCTYPE html>
<html lang="en" style="height: 100%;width: 100%;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feminista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
</head>
<style>
    a{
        color: rgb(2, 12, 9);
    }
    body{
        width: 100%;
        background-color:  #a48fd3f2;
        padding: 0;
        margin: 0;
    }
    h3{
        margin: 0px;
        padding: 15px;
        background-color: rgb(132 47 49 / 28%);
        font-family: Monsterrat;
        font-size: 200%;
        color:whitesmoke;  
         
    }
    button{
        background: transparent;
        size:150%;
        border:0px;
    }
   a{
        margin-left:15px ;
    }
    #quote{
     
        
        margin-top: 50px;
    }
    img{
        width: 100%;
        margin: 0;
        
    }
    h2,h1{
        text-align: center;
        color: rgb(109, 192, 15);
     
    }
    p{
        width: 70%;
        
        font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
        font-size: 150%;padding: 0;margin: 0;color:rgb(238, 233, 226);
        z-index: 10;
            }
   
    
</style>
<!--<body style="background-image: url('images/Home.jpg');
opacity: 0.9;
height:100%;background-position:center;
background-repeat:no-repeat;background-size: cover;
overflow: hidden;
background-attachment: fixed;">-->
<body>
    <h3>
        
        <a  href="/home"    >Home</a>

        <b><a   href="#"   >About</a></b>
        <a   href="/blogs"   >Read Blogs</a>
        <a href="/team" >Team</a>
        <a  href="/login" style="float:right">Login</a>
        <a href="/register"   style="float:right">Register</a>
        
    </h3>
<div style=" background-image: url('images/about.jpg');overflow: hidden;">
 <h1 >ABOUT US</h1>
 <br>
 <br>
 <br>

 <h2>
     OUR MISSION
 </h2>
 <p style="display: block;margin-left: auto;margin-right: auto;">
     We at Feminista provide a platform for all the womenhood across the globe to 
     connect, contribute and inspire the others from their past endeavours and encounters.
     This is to reduce the amount of troubles faced by women and aware of them of any precarious situations 
     or places beforehand.
     <br>
     Our mission is to Grow and Empower with Experiences  .... !!

 <br>
 <br>
 
 <a style="color: blanchedalmond;" href="/blogs">Read here...</a> 
 <a style="color: blanchedalmond;"href="/login">Connect here...</a>
 <a style="color: blanchedalmond;"href="/team"> Contact Us...</a>
</p>
 <section id="quote">
    
    <div id="quote1" style="width: 40%;margin:0px auto 0;text-align: center;">
        <!--<span style="font-size:100px;opacity:0.5">&#10077;</span>-->
        
        <img src="images/home_2.png">
        
    </div>

</section>
</div>

<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; hack36 2021</span>
    </div>
</footer>


</body>

</html>